# This is an example of a .env file for the Text Review app.
# Please rename this file to .env and fill in the values.
# The variables have been categorized by auth, app, api and database.

# --- Auth
# Ensure these values are strong, unique, and kept secret.
AUTH_GOOGLE_ID=xyz
AUTH_GOOGLE_SECRET=xyz
# Used for session signing/encryption, must be a long random string
AUTH_SECRET=xyz
# Secret for JWT signing, must be a long random string
JWT_SECRET=xyz

# --- App
# We use Winston for logging. Look for potential log levels here: https://github.com/winstonjs/winston
LOG_LEVEL=debug

# --- API
# All allowed origins for CORS (comma-separated if multiple)
ALLOWED_ORIGINS=http://localhost
NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://localhost/api/graphql

# --- Database
MONGODB_URI=mongodb://username:password@host:port/databasename?options
MONGODB_DATABASE_NAME=text-review-db