@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
    background-color: #FFFF99;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
mark.active {
    background-color: #FFD580;
}